<% include partials/header %>
<div class="container">
    <h1><%= title %></h1>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Completed Status</th>
            </tr>
            <% todos.forEach(function(todo){ %>
            <tr>
                <td><%= todo.id %> </td>
                <td><%= todo.title %> </td>
                <td><%= todo.completed %> </td>
            </tr>
            <% }) %>

        </table>
    </div>
</div>
<% include partials/footer %>